---
import SpectrumMenu from '../components/SpectrumMenu.astro';
import '../styles/spectrum.css';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Web personal de Osukaru - Diseño retro inspirado en el Sinclair Spectrum ZX 128K +2A" />
    <title>Osukaru - El lado Spectrum</title>
  </head>
  <body>
    <SpectrumMenu />
  </body>
</html>
